<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Dátum</th>
      <th scope="col">Időpont</th>
      <th scope="col">Kutya</th>
      <th scope="col">Ügyfél</th>
      <th scope="col">Megjegyzés</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{appointment.date}}</td>
      <td>{{appointment.time}}</td>
      <td><a routerLink="/admin/dogs/{{appointment.dog._id}}">{{appointment.dog.name}}</a></td>
      <td>{{appointment.user.adoptionForm.lastName}} {{appointment.user.adoptionForm.firstName}}
        <a routerLink="user-data/{{appointment.user._id}}"><i title="Információ a gazdijelöltről" class="fa-solid fa-circle-info fa-xs" ></i></a>
      </td>
      <td>{{appointment.comment}}</td>
    </tr>

    </tbody>
  </table>
</div>

<a href=""></a>
