<footer class="container-fluid d-flex justify-content-center hm-footer">
  <div class="container col-md-10">

    <div class="row border-bottom border-white py-4">

      <div class="col-md-6 mb-2 mb-md-0">
        <h5 class="mt-1">Elérhetőségeink</h5>
        <p class="mb-0">Add A Mancsod Alapítvány</p>
        <p class="mb-0"><i class="fa-solid fa-location-dot fa-xs"></i> 1115 Budapest, Bartók Béla út 92.</p>
        <p class="mb-0"><i class="fa-solid fa-phone fa-xs"></i> 06-1-486-9785</p>
        <p class="mb-0"><a href="" class="text-white"> <i class="fa-solid fa-at fa-xs"></i> info@misulink.com</a></p>
        <p class="mb-0"><a href="" class="text-white"> <i class="fa-brands fa-facebook fa-sm"></i> https://www.facebook.com/misulink</a></p>
      </div>

      <div class="col-md-6">

        <div class="row">
          <h5 class="mt-1">Menhelyünk az alábbi nemzetközi minősítésekkel rendelkezik:</h5>
        </div>
        <div class="row d-flex flex-column flex-sm-row justify-content-sm-start flex-nowrap">
<!--          <img class="certification-logo mb-2 mb-sm-0" src="https://www.nicepng.com/png/detail/289-2890049_eco-schools-ni-logo.png" alt="">-->
          <img class="certification-logo mb-2 mb-sm-0" src="//images.squarespace-cdn.com/content/v1/60032e5bc8cd610112a3c145/e5d092d5-2556-4a7e-ab32-dc4bf86c4d40/APCSM_logo_vertical_pos_color.png?format=1500w" alt="">
          <img class="certification-logo mb-2 mb-sm-0" src="https://st.depositphotos.com/1007499/4903/v/450/depositphotos_49032181-stock-illustration-animal-rights.jpg" alt="">
          <img class="certification-logo" src="https://st3.depositphotos.com/30104182/33471/v/600/depositphotos_334711288-stock-illustration-animal-rights-vector-icon-white.jpg" alt="">
        </div>

      </div>

    </div>



    <div class="row">
      <div class="container d-flex justify-content-center">
        <p><em> &copy; Made by Kriszti, 2022</em></p>
      </div>
    </div>


  </div>
</footer>
