<footer class="container-fluid d-flex justify-content-center hm-footer">
  <div class="container col-md-10">

    <div class="row border-bottom border-white py-4">

      <div class="col-md-6 mb-2 mb-md-0">
        <h5 class="mt-1">Elérhetőségeink</h5>
        <p class="mb-0">MiSulink Általános Iskola és Gimnázium</p>
        <p class="mb-0"><i class="fa-solid fa-location-dot fa-xs"></i> 1115 Budapest, Bartók Béla út 92.</p>
        <p class="mb-0"><i class="fa-solid fa-phone fa-xs"></i> 06-1-486-9785</p>
        <p class="mb-0"><a href="" class="text-white"> <i class="fa-solid fa-at fa-xs"></i> info@misulink.com</a></p>
        <p class="mb-0"><a href="" class="text-white"> <i class="fa-brands fa-facebook fa-sm"></i> https://www.facebook.com/misulink</a></p>
      </div>

      <div class="col-md-6">

        <div class="row">
          <h5 class="mt-1">Iskolánk az alábbi nemzetközi minősítésekkel rendelkezik:</h5>
        </div>
        <div class="row d-flex flex-column flex-sm-row justify-content-sm-start flex-nowrap">
          <img class="certification-logo mb-2 mb-sm-0" src="https://www.nicepng.com/png/detail/289-2890049_eco-schools-ni-logo.png" alt="">
          <img class="certification-logo mb-2 mb-sm-0" src="https://i.pinimg.com/564x/3c/60/2e/3c602e5f06e0a4633b526744c86bfef5.jpg" alt="">
          <img class="certification-logo" src="https://piespk.weebly.com/uploads/4/9/4/0/49404969/9597598.jpg?458" alt="">
        </div>

      </div>

    </div>



    <div class="row">
      <div class="container d-flex justify-content-center">
        <p><em> &copy; Made by Team2 Webdesign Studio, 2022</em></p>
      </div>
    </div>


  </div>
</footer>
