*, *::before, *::after {
  box-sizing: border-box;
}

.title-container{
  min-height: 9rem;
  background: linear-gradient(0deg, rgba(9,90,100,0) 0%, rgba(9,90,100,0.7483368347338936) 44%, rgba(9,90,100,1) 100%);
}

.hm-bg-color {
  background-color: transparent;
}
.title-line {
  color:white;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 5rem;
}

.hm-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 0px 32px rgb(0 0 0 / 15%);
}
.hm-btn {
  background-color: #ffa101;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.hm-card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.hm-card-title {
  margin-bottom: 0.5rem;
}

.hm-card-text:last-child {
  margin-bottom: 0;
}

.hm-card-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}




@media screen and (min-width: 768px) {
  .hm-btn {
    background-color: #ffa101;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }
  .hm-card {
    box-shadow: none;
  }
  .hm-card:hover {
    box-shadow: 0px 0px 32px rgb(0 0 0 / 15%);
  }

  .hm-card:hover .hm-btn {
    opacity: 1;
    transform: scale(1)
  }
}
