<div class="text-center">

  <!-- Hero image-->
  <div class="hero-image-container">
    <div class="welcome-message-container mb-5 pt-xl-5">
      <h1 class="p-3 mb-6 welcome-line">Add A Mancsod Alapítvány</h1>
    </div>
  </div>

  <!-- 2x2, bal szöveg, jobb kép, alatta bal kép, jobb szöveg-->
  <div class="container my-5">
    <div class="row mission-container1">
      <div class="col-md-6 mission-image-container1">
        <!-- Image here in background property-->
      </div>
      <div class="col-md-6">
        <!-- Text here -->
        <h3 class="my-3 mission-title">Gazdikeresőink</h3>
        <p>Ismerd meg aktuális gazdikeresőinket!</p>
        <a class="hm-btn" routerLink="dogs">Megnézem</a>
      </div>
    </div>

    <div class="row mission-container2">
      <div class="col-md-6">
        <!-- Text here -->
        <h3  class="my-3 mission-title">Örökbefogadás menete</h3>
        <p>Tudj meg többet az örökbefogadási folyamatról!</p>
        <a class="hm-btn" routerLink="">Megnézem</a>
      </div>
      <div class="col-md-6 mission-image-container2 mt-2 mt-md-0">
        <!-- Image here -->
      </div>
    </div>

  </div>

  <!-- Hírek -->
  <div class="row news-container">
  </div>


  <!-- Ikonok -->
  <div class="container-fluid text-white icons-container my-3 py-3 overflow-hidden">
    <div class="container">
      <h2 class="values-title my-5">ÉRTÉKEINK</h2>
      <div class="row icons-row1 mb-2">
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-house fa-3x icon-image"></i></div>
          <h4 class="icon-title">OTTHON</h4>
          <p class="icon-text">Kényelmes elhelyezés kutyáinknak</p>
        </div>
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-heart fa-3x icon-image"></i></div>
          <h4 class="icon-title">GONDOSKODÁS</h4>
          <p class="icon-text">Önkénteseink szeretete határtalan</p>
        </div>
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-shield-dog fa-3x icon-image"></i></div>
          <h4 class="icon-title">VÉDELEM</h4>
          <p class="icon-text">Az állatvédelem a szenvedélyünk</p>
        </div>
      </div>
      <div class="row icons-row2 mb-2">
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-briefcase-medical fa-3x icon-image"></i></div>
          <h4 class="icon-title">EGÉSZSÉG</h4>
          <p class="icon-text">Folyamatos orvosi ellenőrzés</p>
        </div>
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-dog fa-3x icon-image"></i></div>
          <h4 class="icon-title">TRÉNING</h4>
          <p class="icon-text">Kutyasuli kiképzés</p>
        </div>
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-handshake fa-3x icon-image"></i></div>
          <h4 class="icon-title">EGYÜTTMŰKÖDÉS</h4>
          <p class="icon-text">Kapcsolattartás a gazdijelöltekkel</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Örköbefogadóink mondták  -->
  <div class="container">
    <div class="row">
      <h2 class="my-5 student-opinions-title">ÖRÖKBEFOGADÓINK ÍRTÁK RÓLUNK</h2>
      <div class="d-flex align-items-center mb-2 student-opinion-container">
        <div class="flex-shrink-0">
          <img class="rounded-circle w-50" src="https://randomuser.me/api/portraits/men/32.jpg" alt="...">
        </div>
        <div class="flex-grow-1 text-start">
          <p class="mb-1">A világ legjobb kutyáját innen fogadtuk örökbe. Sapiente beatae repudiandae eligendi nobis velit, fuga.</p>
          <p class="text-muted">Peti, 15</p>
        </div>
      </div>
      <div class="d-flex align-items-center mb-2 student-opinion-container">
        <div class="flex-shrink-0">
          <img class="rounded-circle w-50" src="https://randomuser.me/api/portraits/women/19.jpg" alt="...">
        </div>
        <div class="flex-grow-1 text-start">
          <p class="mb-1">Jó körülmények, tisztaság, törődnek a kutyákkal. Sapiente beatae repudiandae eligendi nobis velit, fuga, optio aliquam eveniet repellat dolorum sint amet asperiores.</p>
          <p class="text-muted">Zsófi, 14</p>
        </div>
      </div>
      <div class="d-flex align-items-center mb-2 student-opinion-container">
        <div class="flex-shrink-0">
          <img class="rounded-circle w-50" src="https://randomuser.me/api/portraits/women/14.jpg" alt="...">
        </div>
        <div class="flex-grow-1 text-start">
          <p class="mb-1"> Csodás kutyák, elkötlezett dolgozók. Repudiandae eligendi nobis velit, fuga, optio aliquam eveniet repellat dolorum sint amet.</p>
          <p class="text-muted">Bea, 13</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Térkép -->
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <h3 class="location-title">Megközelítés</h3>
        <p>Menhelyünk zöld, parkos környezetben, mégis könnyen megközelíthető helyen működik. Útvonal tervezéshez kérjük, kattintson a "Nagyobb térkép megtekintése" linkre:</p>
      </div>
      <div class="col-md-6 overflow-hidden">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.8391416147606!2d19.03571851581747!3d47.47356400515163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741ddb6fdd1e697%3A0x1d4a295ffbd5053!2zQnVkYXBlc3QsIEJhcnTDs2sgQsOpbGEgw7p0IDkyLCAxMTE1!5e0!3m2!1shu!2shu!4v1645272264045!5m2!1shu!2shu" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>


</div>

