<div class="text-center">

  <!-- Hero image + animation (pl: https://ormezeisuli.hu/)-->
  <div class="hero-image-container">
    <div class="welcome-message-container mb-5">
      <h1 class="mb-6 welcome-line">Add A Mancsod Alapítvány</h1>
    </div>
  </div>

  <!-- Küldetés, célok, stb (2x2, bal szöveg, jobb kép, alatta bal kép, jobb szöveg, pl https://ormezeisuli.hu/) -->
  <div class="container my-5">
    <div class="row mission-container1">
      <div class="col-md-6 mission-image-container1">
        <!-- Image here in background property-->
      </div>
      <div class="col-md-6">
        <!-- Text here -->
        <h3 class="my-3 mission-title">Gazdikeresőink</h3>
        <p>Ismerd meg aktuális gazdikeresőinket!</p>
        <a class="hm-btn" routerLink="dogs">Megnézem</a>
      </div>
    </div>

    <div class="row mission-container2">
      <div class="col-md-6">
        <!-- Text here -->
        <h3  class="my-3 mission-title">Örökbefogadás menete</h3>
        <p>Tudj meg többet az örökbefogadási folyamatról!</p>
        <a class="hm-btn" routerLink="dogs">Megnézem</a>
      </div>
      <div class="col-md-6 mission-image-container2">
        <!-- Image here -->
      </div>
    </div>

  </div>

  <!-- Hírek -->
  <div class="row news-container">
  </div>


  <!-- Ikonok nyálas jelszavakkal (pl: https://www.apaczai.elte.hu/)-->
  <div class="container-fluid text-white icons-container my-3 py-3 overflow-hidden">
    <div class="container">
      <h2 class="values-title my-5">ÉRTÉKEINK</h2>
      <div class="row icons-row1 mb-2">
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-book fa-3x icon-image"></i></div>
          <h4 class="icon-title">TUDÁS</h4>
          <p class="icon-text">Korszerű és használható ismeretek</p>
        </div>
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-earth-americas fa-3x icon-image"></i></div>
          <h4 class="icon-title">NYITOTTSÁG</h4>
          <p class="icon-text">A tanulás által kinyílik a világ</p>
        </div>
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-users fa-3x icon-image"></i></div>
          <h4 class="icon-title">KÖZÖSSÉG</h4>
          <p class="icon-text">Életre szóló barátságok köttetnek</p>
        </div>
      </div>
      <div class="row icons-row2 mb-2">
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-trophy fa-3x icon-image"></i></div>
          <h4 class="icon-title">SIKERÉLMÉNY</h4>
          <p class="icon-text">A legfontosabb motiváció</p>
        </div>
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-brain fa-3x icon-image"></i></div>
          <h4 class="icon-title">FEJLŐDÉS</h4>
          <p class="icon-text">Minden nap új lehetőség</p>
        </div>
        <div class="col-md-4 icon-column">
          <div class="mb-t mb-3"><i class="fa-solid fa-handshake fa-3x icon-image"></i></div>
          <h4 class="icon-title">EGYÜTTMŰKÖDÉS</h4>
          <p class="icon-text">A társadalom építőköve</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Örköbefogadóink mondták  -->
  <div class="container">
    <div class="row">
      <h2 class="my-5 student-opinions-title">ÖRÖKBEFOGADÓINK ÍRTÁK RÓLUNK</h2>
      <div class="d-flex align-items-center mb-2 student-opinion-container">
        <div class="flex-shrink-0">
          <img class="rounded-circle w-50" src="https://randomuser.me/api/portraits/men/32.jpg" alt="...">
        </div>
        <div class="flex-grow-1 text-start">
          <p class="mb-1">Azért szeretek ide járni, mert amet consectetur adipisicing elit. Sapiente beatae repudiandae eligendi nobis velit, fuga, optio aliquam eveniet repellat dolorum sint amet asperiores tempora.</p>
          <p class="text-muted">Peti, 15</p>
        </div>
      </div>
      <div class="d-flex align-items-center mb-2 student-opinion-container">
        <div class="flex-shrink-0">
          <img class="rounded-circle w-50" src="https://randomuser.me/api/portraits/women/19.jpg" alt="...">
        </div>
        <div class="flex-grow-1 text-start">
          <p class="mb-1">Legjobb suli a világon! Sapiente beatae repudiandae eligendi nobis velit, fuga, optio aliquam eveniet repellat dolorum sint amet asperiores tempora quibusdam libero eum! Temporibus, nisi dolorem!</p>
          <p class="text-muted">Zsófi, 14</p>
        </div>
      </div>
      <div class="d-flex align-items-center mb-2 student-opinion-container">
        <div class="flex-shrink-0">
          <img class="rounded-circle w-50" src="https://randomuser.me/api/portraits/women/14.jpg" alt="...">
        </div>
        <div class="flex-grow-1 text-start">
          <p class="mb-1">Nagyon jó a közösség, a tanárok is jófejek. Repudiandae eligendi nobis velit, fuga, optio aliquam eveniet repellat dolorum sint amet asperiores tempora quibusdam libero eum! Temporibus, nisi dolorem!</p>
          <p class="text-muted">Bea, 13</p>
        </div>
      </div>
    </div>
  </div>

<!--  &lt;!&ndash; Pörgő számláló &ndash;&gt;-->
<!--  <div class="container-fluid d-none d-md-block my-5">-->
<!--    <div class="row text-center text-white">-->
<!--      <div class="col-md-3 colorful-counter counter-1"><span class="counter-number number-1" [countUp]="studentsCounter" [options]="{duration: 5}" (deferLoad)="studentsCounter = 267">267</span> <br> DIÁK</div>-->
<!--      <div class="col-md-3 colorful-counter counter-2"><span class="counter-number number-2" [countUp]="teachersCounter" [options]="{duration: 5}" (deferLoad)="teachersCounter = 42">42</span> <br> TANÁR</div>-->
<!--      <div class="col-md-3 colorful-counter counter-3"><span class="counter-number number-3" [countUp]="smilesCounter" [options]="{duration: 5}" (deferLoad)="smilesCounter = 597">597</span><br> MOSOLY</div>-->
<!--      <div class="col-md-3 colorful-counter counter-4"><span class="counter-number number-4" [countUp]="highFiveCounter" [options]="{duration: 5}" (deferLoad)="highFiveCounter = 423">423</span> <br>PACSI</div>-->
<!--    </div>-->

<!--  </div>-->

  <!-- Térkép -->
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <h3 class="location-title">Megközelítés</h3>
        <p>Iskolánk zöld, parkos környezetben, mégis könnyen megközelíthető helyen működik. Útvonal tervezéshez kérjük, kattintson a "Nagyobb térkép megtekintése" linkre:</p>
      </div>
      <div class="col-md-6 overflow-hidden">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.8391416147606!2d19.03571851581747!3d47.47356400515163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741ddb6fdd1e697%3A0x1d4a295ffbd5053!2zQnVkYXBlc3QsIEJhcnTDs2sgQsOpbGEgw7p0IDkyLCAxMTE1!5e0!3m2!1shu!2shu!4v1645272264045!5m2!1shu!2shu" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>


</div>

