<div class="container-fluid vh-100 dog-background adjust-top-color">
  <div class="row">
    <div class="col pt-2">
      <button class="btn btn-outline-light bg-secondary text-light btn-sm" routerLink="">&#8678; Vissza a főoldalra</button>
    </div>
  </div>

  <div class="row d-flex justify-content-center py-5">
    <div class="col-md-4 bg-white rounded">

      <div class="my-3">
        <label for="loginName" class="form-label">Felhasználónév</label>
        <input type="text" class="form-control" id="loginName" aria-describedby="emailHelp">
      </div>

      <div class="my-3">
        <label for="loginPassword" class="form-label">Jelszó</label>
        <input type="password" class="form-control" id="loginPassword">
      </div>

      <button class="btn btn-primary mb-3" routerLink="admin">Bejelentkezés</button>

      <p>Nincs még felhasználói fiókod?</p>
      <button class="btn btn-primary mb-3" routerLink="/register">Regisztráció</button>

    </div>


  </div>

</div>
