.dog-background {
  background: url("../../../../assets/dog-detail-backgrounds/background2.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

.adjust-top-color {
  background-color: #363435;
}
