<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Név</th>
      <th scope="col">Státusz</th>
      <th scope="col">Ivar</th>
      <th scope="col">Méret</th>
      <th scope="col">Születési dátum</th>
      <th scope="col">Műveletek <button class="btn btn-info" routerLink="/admin/dogs/new-dog/form">Új kutya</button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dog of dogs">
      <td>{{dog.name}}</td>
      <td>{{dog.status === "adoptable"? "gazdikereső" : "gazdis"}}</td>
      <td>{{dog.gender}}</td>
      <td>{{dog.size}}</td>
      <td>{{dog.dateOfBirth}}</td>
      <td>
        <button class="btn btn-success" [routerLink]="'/admin/dogs/' + dog._id">Részletek</button>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="setDogToDelete(dog)">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="backdropLabel">Törlés megerősítése</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Biztosan törlöd a a bejegyzést?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteDog(dogToDelete)">Törlés</button>
      </div>
    </div>
  </div>
</div>

